{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Erepository</title>
    {% tailwind_css %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/user-signin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg">

    <div>
        <div class="bg-green-200 border-gray-200 h-32 flex items-center justify-between">
            <div class="mx-12">
                <p class="text-md sm:text-5xl font-semibold font-arial">eRepository | JHCSC</p>
            </div>
            <div class="mx-12">
                <a href="https://flowbite.com/" class="flex items-center">
                    <img src="{% static 'img/logo.png' %}" width="60" alt="JH Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-12 sm:mt-28 p-1 sm:p-8 mb-8">
        <p class="text-5xl text-green-600 font-bold font-copper leading-8">Access the online storage of</p>
        <p class="text-5xl text-green-600 font-bold font-copper leading-8 mt-4">THESES</p>
        <p class="text-5xl text-green-600 font-bold font-copper leading-8 mt-4">and</p>
        <p class="text-5xl text-green-600 font-bold font-copper leading-8 mt-4">CAPSTONE PROJECTS</p>

        <div class="mt-12">
            <a href="{% url 'signup_stud' %}"
                class="text-lg text-black font-bold bg-green-200 hover:bg-green-600 hover:text-white duration-300 focus:ring-4 border-2 border-green-600 rounded-lg px-5 py-2.5 mr-2 mb-2">SIGNUP</a>

            <a href="{% url 'login' %}"
                class=" text-black font-bold bg-green-200 hover:bg-green-600 hover:text-white duration-300 focus:ring-4 border-2 border-green-600 rounded-lg text-lg px-5 py-2.5 mr-2 mb-2">LOGIN</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
</body>

</html>